/* add font */
@font-face {
    font-family: Ubuntu-Bold ;
    src: url(font/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: Ubuntu-Light ;
    src: url(font/Ubuntu-Light.ttf);
}
@font-face {
    font-family: Ubuntu-Medium;
    src: url(font/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: Ubuntu-Regular;
    src: url(font/Ubuntu-Regular.ttf);
}
/* global css */
:root{
    /* itm card color [START] */
    --purple-color-itm-card : #923DD6;
    --red-color-itm-card : #DE4747 ;
    --blue-color-itm-card : #349CD7 ;
    --yellow-color-itm-card : #9DAE31 ; 
    /* itm card color [END] */
    --bg-color-body : #242424 ;
    --bg-color-tool-bar : #393939 ;
    --color-time-tool-bar : #626262 ;
    --star-color : #D4E921 ;
    --white-color : #ECECEC ;
    --white-color-600 : #C8BFBF ;
    --white-color-900 : #E8E3E3 ;
}
*{
    font-family:Ubuntu-Regular ;
}
body{
    background: var(--bg-color-body);
    margin: 0;
}
/* header [START] */
header{
    display: inline-block;
    width: 13%;
    flex-shrink: 0;
    box-sizing: border-box ;
    position: fixed !important;
    z-index: 1;
}
/* tooll bar [START] */
#tooll-bar{
    position: relative;
    width: 86%;
    height: 100vh;
    flex-shrink: 0;
    padding:  24px 0 0 0;
    border-right: 4px solid var(--color-time-tool-bar);
    background-color: var(--bg-color-tool-bar);
}
#tooll-bar>h1{
    color: var(--white-color-600);
    font-family: Ubuntu-Bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
#itm-tooll-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
}
#add-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
}
#add-btn>button{
    margin-top: 25px;
    width: 53px;
    height: 53px;
    background-color: #242424;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: relative;
}
#add-btn>button>svg{
    position: absolute;
    top: 15px ;
    left: 16px;
}
#div-color-add-itm-card>a{
    width: 37px;
    height: 37px;
    border-radius: 50px;
    position: absolute;
    z-index: -1;
}
#add-btn>button:hover>div>a:first-of-type,#bug:hover~#itm-tooll-bar>#add-btn>button>div>a:nth-of-type(1){
    transform: translateY(60px);
    transition: all 2s;
    z-index: 2;
}
#add-btn>button:hover>div>a:nth-of-type(2),#bug:hover~#itm-tooll-bar>#add-btn>button>div>a:nth-of-type(2){
    transform: translateY(105px);
    transition: all 2s;
    z-index: 2;
}
#add-btn>button:hover>div>a:nth-of-type(3),#bug:hover~#itm-tooll-bar>#add-btn>button>div>a:nth-of-type(3){
    transform: translateY(150px);
    transition: all 2s;
    z-index: 2;
}
#add-btn>button:hover>div>a:nth-of-type(4),#bug:hover~#itm-tooll-bar>#add-btn>button>div>a:nth-of-type(4){
    transform: translateY(195px);
    transition: all 2s;
    z-index: 2;
}

#bug{
    width: 100%;
    height: 100vh;
    position: absolute;
}
#add-btn:hover~div,
#bug:hover~#itm-tooll-bar>#add-btn~div{
    transform: translateY(180px);
    transition: all 2s;
}

#div-color-add-itm-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    border-radius: 50px;
}
#div-color-add-itm-card>a:nth-of-type(1){
    background-color: var(--purple-color-itm-card);
}
#div-color-add-itm-card>a:nth-of-type(2){
    background-color: var(--red-color-itm-card);
}
#div-color-add-itm-card>a:nth-of-type(3){
    background-color: var(--blue-color-itm-card);
}
#div-color-add-itm-card>a:nth-of-type(4){
    background-color: var(--yellow-color-itm-card);
}
#icon-tooll-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
}
#icon-tooll-bar>svg{
    fill: var(--color-darck-mode-color-time-tool-bar, #626262);
    cursor: pointer;
}
/* search box [START] */
#search-box{
    width: 303px;
    height: 41px;
    flex-shrink: 0;
    background-color: #393939;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    padding-left: 23px;
    font-size: 18px;
    font-family: Ubuntu-Medium;
    color: var(--white-color-600);
    position: absolute;
    left: 240px;
    top: 30px;
}
/* main [START] */
main{
    position: relative;
    left: 13%;
    top: 90px;
    display: inline-flex;
    width: 86%;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
}
main>h1{
    color: var(--white-color-600);
    font-family: Ubuntu-Regular;
    font-size: 48px;
    line-height: normal;
    letter-spacing: 0.48px;
}
#conteant{
    display: flex;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px 25px;
    flex-wrap: wrap;
}
/* code itm card [start] */
.itm-card{
    display: flex;
    width: 252px;
    height: 245px;
    padding: 8px 15px 8px 17px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0; 
    border-radius: 25px;
    background-color: var(--purple-color-itm-card);
}
.itm-card>div{
    width: 100%;
    position: relative;
    height: 225px;
    flex-shrink: 0;
}
.itm-card-icon{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 176px;
    position: absolute;
    top: 9px;
    left: 214px;
}
.itm-card-icon>img{
    cursor: pointer;
}
.text-area-itm-card{
    width: 200px;
    height: 196px;
    flex-shrink: 0;
    display: inline-block;
}
.text-area-itm-card>textarea{
    border: none !important;
    outline: none;
    color: var(--white-color-900);
    width: 100%;
    background-color: var(--purple-color-itm-card);
}
.text-area-itm-card>textarea:first-of-type{
    overflow-y: auto ;
    font-family: Ubuntu-Medium;
    height: 15%;
    font-size: 29px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.29px;
}
.text-area-itm-card>textarea:last-of-type{
    overflow: auto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 204px;
    height: 158px;
    flex-shrink: 0;
}